@model HomeViewModel

<div class="col-md-2">
    <!--<div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" style="background-image: url('/img/logo.jpg');"></div>
                    <br />-->
                    @*<h3>@Model.CategorieCurenta</h3>*@
                <!--</div>
            </div>-->

            @*<ul class="list-unstyled components mb-5">
                <li>
                    <a href="https://localhost:44380/Produs/ListaCopii"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Download</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-gift mr-3"></span> Gift Code</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-trophy mr-3"></span> Top Review</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
                </li>
            </ul>*@

        
    </div>

        <partial name="_Carousel" />

    <br />
     <h2 class="text-center">Cele mai vandute</h2>
    <div class="row" id="produscontent">
        @foreach (var produs in Model.ProdusLaReducere)
        {
        <div class="col-md-4">
            @if (produs.TipProdus == 1 && produs.CategorieId == 12)
            {
                <partial name="_produsCard" model="produs" />
            }
        </div>

        }

    </div>

