<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, init" />
    <title>TreiDe</title>
    <link href="https://fonts.googleapis.com/css2?family=Po" />
    <link rel="stylesheet"href="./content/TreiDe.css" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="sneaker">
                <div class="circle"></div>
                <img src="~/img/adidas.jpg" alt="adidas" />
                @*<img src="/img/adidas.jpg" alt="adidas" />*@
            </div>
            <div class="info">
                <h1 class="title">Adidas ZX</h1>
                <h3>Future</h3>
            <div class="marime">
                <button>S</button>
                <button>M</button>
                <button class="active">L</button>
                <button>XL</button>
            </div>
            <div class="cumpara">
                <button>Cumpara</button>
            </div>
            </div>
        </div>
    </div>
    <script src="./TreiDeJs/TreiDe.js"></script>
</body>

</html>